body {
    font-family: arial, sans-serif;
    color: #878787;
    
}
  h1 {
    color: #878787;
    font-size: 24px;
    font-weight: 100;
    line-height: 28px;
    margin-bottom: 0;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
}
li:first-letter {
  text-transform: capitalize
}  

small {
  display: block;
  margin: 0 auto;
}
.weather-temperature img {
  margin-left: -5px;
  margin-top: -10px;
}
.weather-temperature strong {
    color: black;
    font-size: 64px;
    line-height: 1;
    font-weight: 400;
}
.weather-temperature .active {
  color: rgb(33 33 33);
  cursor: default;
  text-decoration: none;
}
.weather-temperature .active:hover {
  cursor: default;
}
.units {
  position: relative;
  top: -30px;
}
.weather-app-wrapper {
  max-width: 600px;
  margin: 0 auto;
}
.weather-app {
  max-width: 600px;
  border: 1px solid #dadde1;
  margin: 30px auto;
  padding: 30px;
  border-radius: 5px;
  margin-bottom: 0;
}
.weather-forecast {
  margin-top: 20px;
  text-align: center;
}
.weather-forecast-date {
  font-size: 16px;
}
.weather-forecast-temperature-max {
  color: #000;
  font-size: 13px;
}
.weather-forecast-temperature-min {
  font-size: 13px;
}